body {
	margin: 40px;
	font-family: sans-serif;
}
.mainContain {
	width: 700px;
	border: 2px solid silver;
	border-radius: 12px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 10px 10px 15px #888888;
	padding: 15px;
}
.topFormContain {
	background-color: #F7F7F7;
	border-radius: 12px;
	padding: 0;
}
.bottomTable {
	background-color: beige;
	border-radius: 12px;
	padding: 15px;
}
.editLink {
	text-align: right;
}
.smallText {
	font-size: .7em;
}
.cancelButton {
	margin-left: 30px;
}
.formList {
	list-style-type: none;
	overflow: hidden;
}
.fieldName {
	float: left;
	width: 200px;
	clear: both;
}
.infoDescription {
	font-weight: bold;
}
@media screen and (max-width: 775px) {
	body {
		margin: 10px;
	}
	.mainContain {
		width: 100%;
		box-shadow: none;
	}
}
.form-group:first-child {
	padding-top: 15px;
}
.form-actions {
	padding: 0 15px 15px 15px;
	display: none;
}
.form-group {
	padding: 0 15px;
	display: none;
}